# Common String Methods

In [1]:
import pandas as pd
df=pd.read_csv("chicago.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32063 entries, 0 to 32062
Data columns (total 4 columns):
Name                      32062 non-null object
Position Title            32062 non-null object
Department                32062 non-null object
Employee Annual Salary    32062 non-null object
dtypes: object(4)
memory usage: 1002.0+ KB

We can see there are 32063 rows and the size of the dataframe is 1002 KB, lets try to optimize

In [2]:
df["Department"].nunique()

35

In [3]:
df["Department"].count()

32062

For department column there are only 35 unique values , so if we change the type of department to category,
only those 35 unique values will be stored in memory and duplicates will be pointed to that memory location

In [5]:
df["Department"]=df["Department"].astype("category")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32063 entries, 0 to 32062
Data columns (total 4 columns):
Name                      32062 non-null object
Position Title            32062 non-null object
Department                32062 non-null category
Employee Annual Salary    32062 non-null object
dtypes: category(1), object(3)
memory usage: 784.4+ KB

Now we can see that memory usage is reduced to 784 KB

In [6]:
#Normal string operations in python
"Hello World".upper()

'HELLO WORLD'

In [7]:
"hello world".title()

'Hello World'

In [8]:
len("Hello world")

11

In [9]:
#lets try this with pandas dataframe
df["Department"].upper()

AttributeError: 'Series' object has no attribute 'upper'

If we try the conventional python way of working with string, we will get error instead we have to prefix .str before method
call to avoid the error

In [14]:
df["Department"]=df["Department"].str.title()

In [15]:
df.head()

,Name,Position Title,Department,Employee Annual Salary
0,"AARON, ELVIA J",WATER RATE TAKER,Water Mgmnt,$90744.00
1,"AARON, JEFFERY M",POLICE OFFICER,Police,$84450.00
2,"AARON, KARINA",POLICE OFFICER,Police,$84450.00
3,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,General Services,$89880.00
4,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,Water Mgmnt,$106836.00

In [16]:
df["Name"].str.lower()

0                 aaron,  elvia j
1               aaron,  jeffery m
2                  aaron,  karina
3             aaron,  kimberlei r
4             abad jr,  vicente m
5                 abarca,  anabel
6               abarca,  emmanuel
7               abascal,  reece e
8            abbasi,  christopher
9           abbatacola,  robert j
10          abbatemarco,  james j
11               abbate,  terry m
12               abbott,  betty l
13              abbott,  lynise m
14         abbruzzese,  william j
15                abdallah,  zaid
16          abdelhadi,  abdalmahd
17            abdellatif,  aref r
18             abdelmajeid,  aziz
19            abdollahzadeh,  ali
20       abdul-karim,  muhammad a
21            abdullah,  daniel n
22               abdullah,  kevin
23           abdullah,  lakenya n
24            abdullah,  rashad j
25           abdulsattar,  mudhar
26           abdul-shakur,  tahir
27         abdulwahab,  abuubaida
28              abejero,  jason v
29        abercrombie iv,  earl s
                   ...
32033             zuniga,  juan m
32034              zuniga,  oscar
32035             zuniga,  ronald
32036             zuniga,  thomas
32037            zuniga,  vicente
32038                 zuno,  erik
32039              zupan,  bill m
32040            zupancic,  kelly
32041          zurawski,  carol a
32042          zurawski,  jeffrey
32043            zurawski,  mac z
32044           zurawski,  mary e
32045             zurek,  francis
32046              zurek,  mary h
32047             zurita,  adriel
32048             zvanja,  tina m
32049      zwarycz mann,  irene a
32050          zwarycz,  thomas j
32051          zwiesler,  matthew
32052            zwit,  jeffrey j
32053         zwolfer,  matthew w
32054              zych,  mateusz
32055               zydek,  bryan
32056            zygadlo,  john p
32057         zygadlo,  michael j
32058          zygowicz,  peter j
32059           zymantas,  mark e
32060         zyrkowski,  carlo e
32061         zyskowski,  dariusz
32062                         NaN
Name: Name, Length: 32063, dtype: object